body {
  min-height: 100vh;
  background-color: black;

  header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #9ae940;
    border-bottom: 1px solid grey;

    h1 {
      text-transform: uppercase;
      font-size: 3rem;
      margin: 15px;
    }

    nav {
      a {
        margin: 20px;
        color: #b9ff68b4;
      }
    }
  }
}